.bbest-breakout > * {
	font-family: 'Barlow';
	color: #fff;
}

.bbest-breakout h4 {
		max-width: 700px;
}
.bbest-breakout span {
  cursor: pointer;
  margin: 0;
  margin-top: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bbest-breakout p {
  margin: 0;
}
.bbest-breakout > img {
  width: 14px;
  height: 14px;
  margin-top: 5px;
  margin-left: 5px;
}
.bbest-breakout-content {
  border-radius: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 200px;
  width: 100%;
  box-shadow: 0px 20px 14px rgba(0, 102, 255, 0.112516);
  position: relative;
}
.bbest-breakout-content .img-break {
  object-fit: cover;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
}
.bbest-breakout-content:hover .img-break {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.bbest-breakout-inner {
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: absolute;
  z-index: 2;
}

@media (max-width: 575.98px) {
  .bbest-breakout-content {
    min-height: 304px;
  }
  .bbest-breakout span {
    cursor: pointer;
    margin: 0;
    margin-top: 79px;
  }
}
@media (max-width: 991.98px) {
  .bbest-breakout-inner {
    display: block;
    margin-top: 67px;
  }
  .bbest-breakout-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
  }
  .bbest-breakout span p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .bbest-breakout span img {
    width: 11px;
    height: 11px;
  }
}